- form_tag password_reset_path do
  %fieldset#login
    %h3 Enter your email address and we'll send you a link to reset your password:
    %p
      = label_tag :email, 'Email'
      = text_field_tag :email
      = submit_tag 'Submit'

= set_focus_to_id :email
