<table>
  <tr>
    <th>Name</th>
  </tr>

<% @jump_types.each do |jump_type| %>
  <tr>
    <td><%=h jump_type.name %></td>
    <td><%= link_to 'Edit', edit_jump_type_path(jump_type) %></td>
    <td><%= link_to 'Delete', jump_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to_new 'New jump type', new_jump_type_path %>
