%table
  %tr
    %th Name
  - @equipment.each do |equipment|
    %tr
      %td= link_to(h(equipment.name), edit_equipment_instance_path(equipment))
      %td= link_to 'Delete', equipment_instance_path(equipment), :confirm => 'Are you sure?', :method => :delete

%br

= round_button 'New', new_equipment_instance_path
