* {
    margin:0;
    padding:0;
} 

body {
    margin:0px;
    background-image:url(../images/body_bg.jpg);
    background-repeat:repeat-x;
    background-color:#3F2F22;
    font-family:'Helvetica', Arial, Verdana;
}

#dvmaincontainer {
    width:900px;
    margin:0px auto;
}

#dvtopcontainer {
    float:left;
    width:900px;
    margin:0px;
    padding:0px 0px 0px 0px;
}

#dvlogocontainer {
    float:left;
    width:324px;
    font-size:0px;
    margin:0px;
    padding:0px 0px 0px 0px;
}

#dvlogocontainer h1 {
    float:left;
    width:314px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:31px;
    text-align:left;
    font-weight:bold;
    color:#F8F4D5;
    margin:0px;
    padding:32px 0px 0px 0px;
}

h2 {
    float:right;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    text-align:left;
    font-weight:bold;
    color:#BB9F89;
    margin:0px;
    padding:0px 0px 30px 0px;
}

#dvnavicontainer {
    float:right;
    font-size:0px;
    margin:0px;
    padding:0px 0px 0px 0px;
}

#dvnavicontainer img {
    float:left;
    font-size:0px;
    margin:0px;
    padding:0px 0px 0px 0px;
}

#dvbodycontainer {
    float:left;
    width:900px;
    background-image:url(../images/page_bg.jpg);
    background-repeat:repeat-y;
    background-position:top center;
    margin:0px;
    padding:0px 0px 0px 0px;
}

#dvfullpanel {
    float:left;
    width:826px;
    margin:0px 0px 0px 20px;
    padding:18px 0px 4px 3px;
}

h1 {
    float:left;
    font-size:20px;
    text-align:left;
    color:#2C1B11;
    margin:0px;
    padding:10px 0px 0px 15px;
}

h3 {
    float:left;
    font-size:13px;
    padding:10px 0px 10px 15px;
}

#dvfullpanel h1 {
    width:826px;
}

p {
    font-size:13px;
    text-align:left;
    voice-family:"\"}\"";
    line-height:16px;
    color:#513D2C;
    margin:0px;
    padding:10px 0px 10px 15px;
}

#dvfullpanel p {
    width:826px;
}

#dvfullpanel .submit {
    float:left;
    text-align:left;
}

#dvleftpanel {
    float:left;
    width:274px;
    margin:0px;
    padding:15px 0px 4px 25px;
}

#dvrightpanel {
    float:left;
    width:552px;
    margin:0px 0px 0px 20px;
    padding:18px 0px 4px 3px;
}

#dvrightpanel h1 {
    width:395px;
}

#dvrightpanel p {
    float:left;
    width:530px;
}

#load fieldset {
    margin:0px;
    padding-top:0px;
}

#load p {
    margin:0px;
    padding-top:5px;
    padding-bottom:5px;
}

td {
    padding: 2px 5px;
}

#flash_notice, #flash_error {
    clear:right;
    float:right;
    font-size:14px;
    max-width:480px;
    padding:10px 10px 10px 30px;
    margin:17px 0 0 0;
    text-align: left;
    white-space:nowrap;
}

#flash_notice {
    background: #cfc url(../images/true.png) no-repeat 9px 9px;
    border: solid 2px #9fcf9f;
    color: #005f00
}

#flash_error {
    background: #ffe3e3 url(../images/false.png) no-repeat 9px 9px;
    border: solid 2px #dd0000;
    color: #550000;
}

#errorExplanation {
    width: 400px;
    border: 2px solid #CF0000;
    padding: 0px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff;
}

#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px;
}

#errorExplanation ul {
    margin: 2px 24px;
}

#errorExplanation ul li {
    font-size: 12px;
    list-style: disc;
}

fieldset {
    float: left;
    border: 1px solid #e4e4e4; 
    width: 216px;
    margin-bottom: 10px;
}

#search_form { 
    width: 240px;
}

#search_form p { 
    width: 220px;
}

#complex_search {
    width:100%;
    padding-bottom:10px;
}

.search_option {
    float:left;
    width:215px;
    padding-top:10px;
}

.search_option p {
    font-size:13px;
    text-align:left;
    color:#513D2C;
    padding:0px 0px 0px 15px;
}

#login { 
    width: 344px;
}

#login p { 
    text-align: right;
    width: 310px;
}

#login .input { 
    margin-left: 5px;
    width: 200px;
}

#login .submit { 
    float: right;
    margin-bottom: 10px;
}

legend {
    font-weight: bold;
    margin-left: 10px;
}

.lost_password {
    float: left;
    text-align: left;
    font-size: 13px;
}

.round_button_block {
    float:right;
    background:url(../images/learnright.gif) no-repeat right -40px;
    margin:0;
    padding:0;
}

.round_button_button {
    display:block;
    background:url(../images/learnleft.gif) no-repeat left -40px;
    padding:5px 15px;
}

.round_button_content {
    color:#FFFFFF;
    text-decoration:none;
    voice-family:"\"}\"";
    line-height:17px;
}

.round_button_content:hover {
    color:#888888;
    text-decoration:none;
}

#righttfoot {
    float:left;
    width:556px;
    height:59px;
    background-image:url(../images/right_foot.jpg);
    background-repeat:no-repeat;
    background-position:top;
    margin:20px 0px 0px 0px;
    padding:11px 0px 13px 0px;
}

#dvfootercontainer {
    float:left;
    width:900px;
    margin:0px;
    padding:0px 0px 0px 0px;
}

#foottop {
    float:left;
    width:900px;
    background-image:url(../images/footer.jpg);
    background-repeat:no-repeat;
    background-position:top center;
    margin:0px;
    padding:0px 0px 50px 0px;
}

#footer-left {
    float:left;
    font-size:12px;
    text-align:left;
    text-decoration:none;
    color:#938A82;
    margin:0px;
    padding:20px 0px 0px 15px;
}

#footer-middle {
    float:left;
    font-size:12px;
    text-align:center;
    text-decoration:none;
    color:#938A82;
    margin:0px;
    padding:20px 0px 0px 300px;
}

#footer-right {
    float:right;
    font-size:12px;
    text-align:left;
    color:#938A82;
    margin:0px;
    padding:20px 15px 0px 20px;
}

#footer-left:hover {
    text-decoration:underline;
}

/*- Menu Tabs 1--------------------------- */ 
#tabs1 {
    float:left;
    background:#FAF6DB;
    font-size:15px;
    line-height:normal;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    padding-top:10px; 
    padding-bottom:5px;
    height:26px;
    margin:0px;
    line-height:normal;
    
    /*   height:100%;Fix for MSIE peekaboo bug */
}

#tabs1 ul {
    margin:0;
    list-style:none;
    float:left;
    padding:0px;
}

#tabs1 li {
    display:inline;
    margin:0;
    padding:0;
    voice-family:"\"}\"";
    line-height:16px;
    height:25px;
    float:left;
}

#tabs1 a {
    float:left;
    background:url("../images/tableft1.gif") no-repeat left top;
    margin:0;
    padding:0 0 0 4px;
    text-decoration:none;
}

#tabs1 a span {
    float:left;
    display:block;
    background:url("../images/tabright1.gif") no-repeat right top;
    color:#2C1C0F;
    padding:3px 9px 6px 5px; 
    voice-family:"\"}\"";
    padding-top:2px;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs1 a span {
    float:none;
}
/* End IE5-Mac hack */

#tabs a:hover span {
    color:#FFFFFF;
}

#tabs1 a:hover {
    background-position:0% -42px;
    color:#FFFFFF;
}

#tabs1 a:hover span {
    background-position:100% -42px;
    color:#FFFFFF;
}

#tabs1 #current a {
    background-position:0% -42px;
    color:#FFFFFF;
}

#tabs1 #current a span {
    background-position:100% -42px;
    color:#FFFFFF;
}

/*-----------------------------Menu ------------------------------*/
img {
    border:0px;
} 

.flt {
    float:left;
}

.menubg {
    clear:left; 
    background-color:#8d8d8d; 
    width:202px;
}

.menu {
    float:left; 
    clear:left; 
    font:bold 11px Arial, Helvetica, sans-serif;
}

.menu li {
    margin:0px 0px 0px 0px;
    list-style:none;
}

.menu a, .menu a:visited {
    width:186px;
    height:22px;
    margin:0px 0px 2px 7px;
    position:relative;
    display:block;
    color:#fff;
    text-decoration:none;
    background:url(../images/menubg2.jpg) no-repeat;
    padding:4px 0 0 8px;
}

.menu a:hover, .menu a:active,
.menu li.current_page_item a, .menu li.current_page_item a:visited {
    background:url(../images/menubg1.jpg) no-repeat;
    text-decoration:none;
}       

.bot {
    clear:left;
}


.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}
