#navlist {
    position: relative;
    width: 100%;
    height: 2.35em;
    margin: 0;
    padding: 0;
    border-bottom: 3px solid #f63;
    white-space: nowrap;
}

#navlist li {
    float: left;
    margin: 0 0 0 2px;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #aaa #555 #f63 #999;
    list-style-type: none;
}

#navlist li a {
    position: relative;
    width: 8em;
    display: block;
    margin: 0;
    padding: 1px 0.4em;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #ccc;
    background-color: #eee;
    color: #666;
    font: normal 1.7em/120% Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
}

#navlist li a:hover {
    color: #00c;
    text-decoration: underline;
}

#navlist li#active a {
    font-weight: bold;
    background-color: #f63;
    color: #fff;
    border-color: #f96 #c30 #f63 #f96;
}

#navlist li#active a:hover { color: #fff; }

#navlist ul#subnavlist {
    position: absolute;
    width: 100%;
    left: 0;
    top: 2.6em;
    height: 1.95em;
    margin: 0;
    padding: 0;
    border-bottom: 3px solid #f63;
    white-space: nowrap;
}

#navlist ul#subnavlist li {
    width: 18em;
    margin: 0;
    border: 0;
}

#navlist ul#subnavlist li a {
    width: auto;
    padding: 0.06em 1em 0;
    border: 0;
    background-color: #fff;
    color: #000;
    font: normal normal 1.66em/110% Verdana, Arial, sans-serif;
}

#navlist ul#subnavlist li a:hover {
    color: #00c;
    text-decoration: underline;
    font-weight: 400;
    /* IE5/Mac disappearing item fix */
}

#navlist ul#subnavlist li#subactive a {
    background-color: #fc9;
    color: #000;
}

#user_nav {
    float: right;
    font-size: 1.7em;
}

* html > body #navlist, * html > body #navlist ul#subnavlist {
    width: 800px;
    /* IE5/Mac fixed width fix */
}

body {
    font:normal 11px Tahoma, Verdana, sans-serif;
    margin: 0;
    padding:0;
    color: #000;
    text-align:center
}

a:link, a:visited {
    text-decoration: underline;
    font-weight: normal;
    color: #000;
}

a:hover {
    text-decoration: none;
    font-weight: normal;
    color: #000;
}

p {
    text-align:justify;
}

#contents{
    width:  970px;
    margin: 15px;
    width:  588px;
    float:  left;
    text-align:justify;
    font-size:12px;    
}

h1 {
    padding: 0;
    font-family:Tahoma, Helvetica,sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    vertical-align: bottom;
    color: #911C1E;
    text-align: left;
    width: 100%;
}
 
.button{
    font:bold 11px Tahoma, Verdana, sans-serif;
    color:#fff;
    text-align: center;
    background-color:#1e66c3;
    border-right:1px solid #043676;
    border-bottom:1px solid #043676;
    border-left:1px solid #1e66c2;
    border-top:1px solid #1e66c2;
    padding:0;
    height:20px;
    width: auto;
}

