<li <%= 'class="current_page_item"' if current_controller?(maintenance_menu_item[:controller]) %>>
  <% link_to(maintenance_menu_item[:path]) do %>
    <span><%= maintenance_menu_item[:label] %></span>
  <% end -%>
</li>
