<li <%= 'class="current_page_item"' if controller_for?(maintenance_menu_item[:label]) %>>
  <% link_to(maintenance_menu_item[:path]) do %>
    <span><%= maintenance_menu_item[:label] %></span>
  <% end -%>
</li>
