<div id="dvleftpanel">
  <div class="menubg flt">
    <img src="images/top.jpg" width="202" height="4" alt="" class="top flt" />
    <ul class="menu flt">
      <%= render :partial => 'navigation/maintenance_menu_item', 
          :collection => maintenance_submenu_items %>
    </ul>
    <img src="images/bot.jpg" width="202" height="3" alt="" class="bot flt" />
  </div>
</div>
