#dvleftpanel
  .menubg.flt
    %img{ :src => "/images/top.jpg", :width => "202", :height => "4", :alt => "", :class => "top flt" }
    %ul.menu.flt
      = render :partial => 'navigation/submenu_item', :collection => submenu_items
    %img{ :src => "/images/bot.jpg", :width => "202", :height => "3", :alt => "", :class => "bot flt" }
