<div id="dvtopcontainer">
  <div id="dvlogocontainer">
    <h1>Fester</h1>
    <h4>Taking the pain out of dropzone management</h4>
  </div>
  <div id="dvnavicontainer">
    <img src="/images/navi_left.jpg" alt="" width="17" height="41" />
    <div id="tabs1" >
      <ul>
        <%= render :partial => 'navigation/topmenu_item', :collection => topmenu_items %>

        <% if current_user -%>
          <%= render :partial => 'navigation/topmenu_item', 
              :locals => { 
                :topmenu_item => { 
                  :label      => current_user.username, 
                  :controller => 'users', 
                  :path       => edit_user_path(:current) } } %>
        <% else %>
          <%= render :partial => 'navigation/topmenu_item', 
              :locals => { 
                :topmenu_item => {
                  :label      => 'Login', 
                  :controller => 'user_sessions', 
                  :path       => login_path } } %>
        <% end -%>
      </ul>
    </div>
    <img src="/images/navi_right.jpg" alt="" width="11" height="41" />
  </div>

  <% if flash[:notice] then %>
    <div class="flash_notice">
      <%= flash[:notice] %>
    </div>
  <% end -%>

</div>
