#transactions
  %table
    %tr
      %th Date
      %th Payment Method
      %th Amount
      %th Notes
      %th Load
    = render :partial => 'transaction', :collection => account_transactions 
