<p>
  <b>Name:</b>
  <%=h @account.name %>
  <br />

  <b>Roles:</b>
  <%= @account.roles.join ', ' %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
